<footer>
    <div class="footer-container">
        <div class="left-col">
          <img src="" alt="" class="logo">
          <div style="margin-left: 200px;" class="social-media">
            <a href="#"><i style="margin-left:-80px" class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-youtube"></i></a>
          </div>
          <p style="margin-left: 10px;color: aliceblue;" class="rights-text">© 2022 Created By Chiheb Mezrigui All Rights Reserved.</p>
        </div>
        <div class="right-col">
          <h1 style="color: aliceblue;">Contactez</h1>
          <div class="border"></div>
          <p style="color: aliceblue;">Enter Your Email to get our news and updates.</p>
          <form action="" class="newsletter-form">
            <input type="text" class="txtb" placeholder="Enter Your Email">
            <input type="submit" class="btn" value="Submit">
          </form>
        </div>
      </div>
</footer>
