<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="navbar.component.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" charset="utf-8"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
  </head>
  <body>
    <header>
       <div class="inner-width">
        <a href="#" class="logo"><img src="" alt=""></a>
        <i class="menu-toggle-btn fas fa-bars"></i>
        <nav class="navigation-menu">
          <a *ngIf="userService.roleMatch(['Admin'])" routerLink="/dashboard"><i></i>Profile</a>
          <a *ngIf="userService.roleMatch(['User'])" routerLink="/home"><i></i>Acceuil</a>
          <a *ngIf="userService.roleMatch(['User'])" routerLink="/about"><i></i>A Propos</a>
          <a *ngIf="userService.roleMatch(['Admin'])"><i></i> Parametres</a>
          <a *ngIf="userService.roleMatch(['User'])" routerLink="/listclients"><i></i>Clients</a>
          <a *ngIf="userService.roleMatch(['User'])" href="#"><i></i>Contacts</a>
          <a *ngIf="!isLoggedIn()" routerLink="/login"><i></i>Login</a>
          <a *ngIf="isLoggedIn()" routerLink="/login" (click)="logout()"><i></i>Se Déconnecter</a>
        </nav>
      </div>
    </header>
  </body>

