<!DOCTYPE html>
<html>

<head>
	<title>Login Form</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" type="text/css" href="login.component.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
	<link href="https://stackpath.bzootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
</head>

<body>
	<div class="big-wrapper light">
		
	</div>
	<div class="container">
		<div class="row px-3">
			<div class="col-lg-10 col-xl-9 card flex-row mx-auto px-0">
				<div class="img-left d-none d-md-flex"></div>

				<div class="card-body">
					<h4 class="title text-center mt-4">
						Connectez-Vous
					</h4>
					 <div class="alert alert-danger mt-4" *ngIf="erreur==1">
						<small>Nom d'utilisateur ou mot de passe erroné..</small>
					</div>

					<form class="form-box px-3"  #loginForm="ngForm" (ngSubmit)="login(loginForm)">
						<div class="form-input">
							<span><i class="fa fa-envelope-o"></i></span>
							<label style="margin-left: -5px;" for="userName">Nom d'utilisateur</label>
							<input type="text" ngModel name="userName" placeholder="Nom d'utilisateur" id="UserName" tabindex="10" class="form-control"
							 >
						</div>
						<div class="form-input">
							<span><i class="fa fa-key"></i></span>
							<label style="margin-left: -5px;" for="userName">Mot de passe</label>
							<input type="password" ngModel name="userPassword" id="userPassword" placeholder="Mot de passe" class="form-control"
							 >
						</div>


						<div class="mb-3">
							<button type="submit" value="login" class="btn btn-block">
								Se Connecter
							</button>
						</div>

					</form>
				</div>
			</div>
		</div>
	</div>
</body>

</html>