<app-sidebar></app-sidebar>
<body style="margin-top: -850px;">
    <main>
        <div class="big-wrapper light">
            <div class="conatiner" style="width: 1200px; margin-left: 270px;">
                <div style="margin-left: -170px;">
                    <app-search (groupFilters)="filters = $event" (autoSearch)="searchText = $event"></app-search>
                </div>
                <div >
                    <app-list-clients [groupFilters]="filters" [searchByKeyword]="searchText"></app-list-clients>
                </div>
            </div>
        </div>
    </main>
</body>