
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}

body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background: #fff
}
.container{
  max-width: 700px;
  width: 100%;
  background-color: transparent;  /*card color */
  padding: 25px 30px;
  border-radius: 5px;
}
.container .title{
  margin-top: -55px;
  text-align: center;
  font-size: 25px;
  font-weight: 500;
  position: relative;
}
.container .title::before{
  content: "";
  margin-left: 230px;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 30px;
  border-radius: 5px;
  background: linear-gradient(135deg, #0572a9, #0572a9);
}


.content form .user-details{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 12px 0;
}
form .user-details .input-box{
  margin-bottom: 15px;
  width: calc(100% / 2 - 20px);
}
form .input-box span.details{
  display: block;
  font-weight: 400;
  margin-bottom: 5px;
}


.user-details .input-box small{
  color: red;
  font-weight: 100;
  font-size: 15px;
}

.user-details .input-box input{
  height: 45px;
  background-color: transparent;
  width: 100%;
  outline: none;
  font-weight: 300;
  font-size: 16px;
  border-radius: 15px;
  padding-left: 15px;
  border: 2px solid #0572a9;
  border-bottom-width: 0 px;
  transition: all 0.3s ease;
}


.user-details .input-box select{
    height: 45px;
    width: 100%;
    outline: none;
    font-size: 16px;
    font-weight: 350;
    border-radius: 15px;
    padding-left: 15px;
    border: 2px solid #0572a9;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
  }

.user-details .input-box input:focus,

.user-details .input-box input:invalid{
  border-color: #fa1717;
}
 form .gender-details .gender-title{
  font-size: 20px;
  font-weight: 200;
 }
 form .category{
   display: flex;
   width: 80%;
   margin: 14px 0 ;
   justify-content: space-between;
 }
 form .category label{
   display: flex;
   align-items: center;
   cursor: pointer;
 }
 form .category label .dot{
  height: 18px;
  width: 18px;
  border-radius: 50%;
  margin-right: 10px;
  background: #d9d9d9;
  border: 5px solid transparent;
  transition: all 0.3s ease;
}

 form input[type="radio"]{
   display: none;
 }
 form .button{
   height: 45px;
   margin: 35px 0
 }
 form .button input{
   height: 80%;
   width: 40%;
   margin-left: 200px;
   border-radius: 15px;
   border: none;
   color: #fff;
   font-size: 18px;
   font-weight: 200;
   letter-spacing: 1px;
   cursor: pointer;
   transition: all 0.3s ease;
   background: linear-gradient(135deg, #0572a9, #0572a9);
 }
 form .button input:hover{
  /* transform: scale(0.99); */
  color: #e0de4f;
  background: linear-gradient(-135deg, #0572a9, #0572a9);
  }
 @media(max-width: 584px){
 .container{
  max-width: 100%;
}
form .user-details .input-box{
    margin-bottom: 15px;
    width: 100%;
  }
  form .category{
    width: 100%;
  }
  .content form .user-details{
    max-height: 300px;
    overflow-y: scroll;
  }
  .user-details::-webkit-scrollbar{
    width: 5px;
  }
  }
  @media(max-width: 459px){
  .container .content .category{
    flex-direction: column;
  }
}
