<app-navbar></app-navbar>
<html>

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="add.component.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> -->
</head>

<body>
  <div class="container">
   <div class="title">Details du client</div>
    <div class="content">
      <form [formGroup]="addForm" (ngSubmit)="AddClient(addForm)">
        <div class="user-details">
          <div class="input-box">
            <span class="details">Code Client *</span>
            <input type="number" formControlName="code_client" #code_client (ngModel)="code_client" class="form-control"
              placeholder="Code Client"
              [ngClass]="{ 'is-invalid': (submitted && addForm.controls['code_client'].errors) || (!addForm.controls['code_client'].pristine && addForm.controls['code_client'].invalid) }">
            <div class="invalid-feedback"
              *ngIf="(submitted && addForm.controls['code_client'].errors) || (!addForm.controls['code_client'].pristine && addForm.controls['code_client'].invalid)">
              <div *ngIf="addForm.controls['code_client'].errors['required']">Champ vide</div>
              <div *ngIf="addForm.controls['code_client'].errors['pattern']">Code Client doit composé de 10 chiffres
              </div>
            </div>
          </div>
          <div class="input-box">
            <span class="details">Matricule Cnrps *</span>
            <input type="number" formControlName="Matricule_cnrps" #Matricule_cnrps (ngModel)="Matricule_cnrps" class="form-control"
              placeholder="40********" [ngClass]="{ 'is-invalid': (submitted && addForm.controls['Matricule_cnrps'].errors) || (!addForm.controls['Matricule_cnrps'].pristine && addForm.controls['Matricule_cnrps'].invalid) }">
            <div class="invalid-feedback"
              *ngIf="(submitted && addForm.controls['Matricule_cnrps'].errors) || (!addForm.controls['Matricule_cnrps'].pristine && addForm.controls['Matricule_cnrps'].invalid)">
              <div *ngIf="addForm.controls['Matricule_cnrps'].errors['required']">Champ vide</div>
              <div *ngIf="addForm.controls['Matricule_cnrps'].errors['pattern']">Code Client doit composé de 10 chiffres
              </div>
            </div>
          </div>

          <div class="input-box">
            <span class="details">Nom *</span>
            <input type="text" formControlName="nom" #nom (ngModel)="nom" class="form-control" placeholder="Nom :"
              [ngClass]="{ 'is-invalid': (submitted && addForm.controls['nom'].errors) || (!addForm.controls['nom'].pristine && addForm.controls['nom'].invalid) }">
            <!-- Validation messages -->
            <div class="invalid-feedback"
              *ngIf="(submitted && addForm.controls['nom'].errors) || (!addForm.controls['nom'].pristine && addForm.controls['nom'].invalid)">
              <div *ngIf="addForm.controls['nom'].errors['required']">Champ est vide</div>
              <div *ngIf="addForm.controls['nom'].errors['pattern']">Nom avec au minumum 3 caracteres</div>
            </div>
          </div>



          <div class="input-box">
            <span class="details">Prénom</span>
            <input type="text" formControlName="prenom" #prenom (ngModel)="prenom" class="form-control"
              placeholder="Prénom :"
              [ngClass]="{ 'is-invalid': (submitted && addForm.controls['prenom'].errors) || (!addForm.controls['prenom'].pristine && addForm.controls['prenom'].invalid) }">
            <!-- Validation messages -->
            <div class="invalid-feedback"
              *ngIf="(submitted && addForm.controls['prenom'].errors) || (!addForm.controls['prenom'].pristine && addForm.controls['prenom'].invalid)">
              <div *ngIf="addForm.controls['prenom'].errors['required']">Champ vide</div>
              <div *ngIf="addForm.controls['prenom'].errors['pattern']">Prénom avec au minumum 3 caracteres</div>
            </div>
          </div>
          <div class="input-box">
            <span class="details">Adresse Email</span>
            <input type="text" formControlName="email" #email (ngModel)="email" class="form-control"
              placeholder="Enter email"
              [ngClass]="{ 'is-invalid': (submitted && addForm.controls['email'].errors) || (!addForm.controls['email'].pristine && addForm.controls['email'].invalid) }">
            <!-- Validation messages -->
            <div class="invalid-feedback"
              *ngIf="(submitted && addForm.controls['email'].errors) || (!addForm.controls['email'].pristine && addForm.controls['email'].invalid)">
              <div *ngIf="addForm.controls['email'].errors['required']">Champ vide</div>
              <div *ngIf="addForm.controls['email'].errors['pattern']">Email invalide</div>
            </div>
          </div>
          <div class="input-box">
            <span class="details">Numéro de CIN *</span>
            <input type="number" formControlName="cin" #cin (ngModel)="cin" class="form-control"
              placeholder="Numéro de cin"
              [ngClass]="{ 'is-invalid': (submitted && addForm.controls['cin'].errors) || (!addForm.controls['cin'].pristine && addForm.controls['cin'].invalid) }">
            <div class="invalid-feedback"
              *ngIf="(submitted && addForm.controls['cin'].errors) || (!addForm.controls['cin'].pristine && addForm.controls['cin'].invalid)">
              <div *ngIf="addForm.controls['cin'].errors['required']">Champ vide</div>
              <div *ngIf="addForm.controls['cin'].errors['pattern']">Numéro de CIN doit composé de 8 chiffres</div>
            </div>
          </div>
          <div class="input-box">
            <span class="details">Numéro de télépone *</span>
            <input type="number" formControlName="tel" #tel (ngModel)="tel" class="form-control"
              placeholder="Numéro de Téléphone"
              [ngClass]="{ 'is-invalid': (submitted && addForm.controls['tel'].errors) || (!addForm.controls['tel'].pristine && addForm.controls['tel'].invalid) }">
            <div class="invalid-feedback"
              *ngIf="(submitted && addForm.controls['tel'].errors) || (!addForm.controls['tel'].pristine && addForm.controls['tel'].invalid)">
              <div *ngIf="addForm.controls['tel'].errors['required']">Champ vide</div>
              <div *ngIf="addForm.controls['tel'].errors['pattern']">Numéro de téléphone doit composé de 8 chiffres
              </div>
            </div>
          </div>
          <div class="input-box">
            <span class="details">Numéro de Fix *</span>
            <input type="number" formControlName="fix" #fix (ngModel)="fix" class="form-control"
              placeholder="Numéro de Fix"
              [ngClass]="{ 'is-invalid': (submitted && addForm.controls['fix'].errors) || (!addForm.controls['fix'].pristine && addForm.controls['fix'].invalid) }">
            <div class="invalid-feedback"
              *ngIf="(submitted && addForm.controls['fix'].errors) || (!addForm.controls['fix'].pristine && addForm.controls['fix'].invalid)">
              <div *ngIf="addForm.controls['fix'].errors['required']">Champ vide</div>
              <div *ngIf="addForm.controls['fix'].errors['pattern']">Numéro de fix doit composé de 8 chiffres</div>
            </div>
          </div>
          <div class="input-box">
            <span class="details">Ministere</span>
            <select formControlName="ministere" name="ministere" id="ministere" #ministere (ngModel)="ministere">
              <option>Choisir la Ministere</option>
              <option *ngFor="let m of ministeres">{{m}}</option>
            </select>
          </div>
          <div class="input-box">
            <span class="details">Structure *</span>
            <input type="text" formControlName="structure" #structure (ngModel)="structure" class="form-control"
              placeholder="Structure :"
              [ngClass]="{ 'is-invalid': (submitted && addForm.controls['structure'].errors) || (!addForm.controls['structure'].pristine && addForm.controls['structure'].invalid) }">
            <div class="invalid-feedback"
              *ngIf="(submitted && addForm.controls['structure'].errors) || (!addForm.controls['structure'].pristine && addForm.controls['structure'].invalid)">
              <div *ngIf="addForm.controls['structure'].errors['required']">Champ vide</div>
              <div *ngIf="addForm.controls['structure'].errors['pattern']">Structure avec au minumum 3 caracteres</div>
            </div>
          </div>
          <small style="margin-left: 20px;font-weight: 100;color: #4c6497;">Les Champs à * sont obligatoires</small>
        </div>
        <div class="button">
          <input type="submit" value="Register">
        </div>
      </form>
    </div>
  </div>
</body>

</html>
