<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins|Sans-serif">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  
</head>
<body style="margin-top: -250px;">
  <div class="input-field" style="margin-left: 640px;margin-bottom: 100px;">
    <div class="group-btn">
      <button class="btn-delete"  (click)="removeFilter()">Effacer le filtre</button>
    </div>
  </div>
  <div style="margin-top: -60px;" class="table-responsive">
    <div class="table-wrapper">
      <div class="table-title">
        <div class="row">
          <div>
            <h2>Gestion <b>des Clients</b></h2>
            
          </div>
          <div class="col-xs-7">
            <a (click)="toAdd()" class="btn btn-primary"><i class="material-icons">&#xE147;</i> <span>Creer Nouveau
                Client</span></a>
          </div>
        </div>
      </div>
      <table class="table table-hover">
        <thead>
          <tr>
            <th (click)="sort('code_client')">Code Client&nbsp;<i class="fa fa-sort"></i></th>
            <th>Matricule CNRPS</th>
            <th>Cin</th>
            <th (click)="sort('nom')">Nom&nbsp;<i class="fa fa-sort"></i></th>
            <th>Prénom</th>
            <th>Addresse Email</th>
            <th>Numéro Téléphone</th>
            <th>Numéro Fix</th>
            <th>Ministere</th>
            <th>Structure</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
          <tr *ngFor="let client of filteredClients| paginate:{itemsPerPage:3,currentPage:page}|orderBy:key:reverse;" >
            <td>{{client.code_client}}</td>
            <td>{{client.mat}}</td>
            <td>{{client.cin}}</td>
            <td>{{client.nom}}</td>
            <td>{{client.prenom}}</td>
            <td>{{client.email}}</td>
            <td>{{client.tel}}</td>
            <td>{{client.fix}}</td>
            <td>{{client.structure.ministere.libelle}}</td>
            <td>{{client.structure.libelle}}</td>
            <td>
              <a (click)="clientDetails(client.idC)" class="view" title="Consulter" data-toggle="tooltip"><i
                  class="material-icons">&#xE417;</i></a>
              <a (click)="edit(client.idC)" class="edit" title="Modifier" data-toggle="tooltip"><i
                  class="material-icons">&#xE254;</i></a>
              <a (click)="deleteClient(client)" class="delete" title="Supprimer" data-toggle="tooltip"><i
                  class="material-icons">&#xE872;</i></a>
            </td>
          </tr>
        </tbody>
      </table>
     
      <div class="clearfix">
        <div class="hint-text">Page numéro <b>{{page}}</b></div>
        <pagination-controls class="pagination" (pageChange)="page=$event" nextLabel="Suivant"
          previousLabel="Précédent"></pagination-controls>
      </div>
    </div>
  </div>
</body>

</html>