<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Landing Page With Light/Dark Mode</title>
    <link rel="stylesheet" href="home.component.css" />
  </head>
  <div>

    
    
  </div>
  <app-navbar></app-navbar>

  <body>
    
    <main style="margin-top: 50px;">
      <div class="big-wrapper light">
        <img  src="assetes/img/shape.png" alt="" class="shape" />
        
        <div class="showcase-area">
          <div class="container">
            <div class="left">
              <div class="big-title">
                <h1>
                  Vous souhaitez gérer en toute simplicité vos Clients</h1>
                <h2>Application de Socièté</h2>
              </div>
              
              <p class="text">
                L'application Mon Annuaire est la solution pour rassembler et retrouver tous vos contacts facilement !
              </p>
              <div class="cta">
                <a href="#" class="btn">Gestion des Clients</a>
              </div>
            </div>

            <div class="right">
              <img src="assets/img/teamwork.svg" alt="Person Image" class="person" />
            </div>
          </div>
        </div>

        <div class="bottom-area">
          <div class="container">
            <button class="toggle-btn">
              <i class="far fa-moon"></i>
              <i class="far fa-sun"></i>
            </button>
          </div>
        </div>
      </div>
    </main>

    <!-- JavaScript Files -->

    <script src="https://kit.fontawesome.com/a81368914c.js"></script>
    <script src="assets/app.js"></script>
  </body>
  <app-about></app-about>
</html>