
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="home.component.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" charset="utf-8"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
    </head>
    <body>
    <app-navbar></app-navbar>
    
    <div class="team-section">
      <div class="inner-width"> 
    <div class="services-section">
    <div class="inner-width">
    <h1 class="section-title">Nos Services</h1>
    <div class="border"></div>
    <div class="services-container">
    
      <div class="service-box">
        <div class="service-icon">
          <i class="fas fa-paint-brush"></i>
        </div>
        <div class="service-title">Web Designs</div>
        <div class="service-desc">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et eaque ratione rem porro, nihil.
        </div>
      </div>
    
      <div class="service-box">
        <div class="service-icon">
          <i class="fas fa-code"></i>
        </div>
        <div class="service-title">Developpement Web</div>
        <div class="service-desc">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et eaque ratione rem porro, nihil.
        </div>
      </div>
    
      <div class="service-box">
        <div class="service-icon">
          <i class="fas fa-brush"></i>
        </div>
        <div class="service-title">Responsive Designs</div>
        <div class="service-desc">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et eaque ratione rem porro, nihil.
        </div>
      </div>
    
      <div class="service-box">
        <div class="service-icon">
          <i class="fas fa-object-ungroup"></i>
        </div>
        <div class="service-title">Edit Sections</div>
        <div class="service-desc">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et eaque ratione rem porro, nihil.
        </div>
      </div>
    
      <div class="service-box">
        <div class="service-icon">
          <i class="fas fa-database"></i>
        </div>
        <div class="service-title">Databases</div>
        <div class="service-desc">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et eaque ratione rem porro, nihil.
        </div>
      </div>
    
      <div class="service-box">
        <div class="service-icon">
          <i class="fab fa-android"></i>
        </div>
        <div class="service-title">Android</div>
        <div class="service-desc">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et eaque ratione rem porro, nihil.
        </div>
      </div>
    </div>
    </div>
    </div>
    <h1>Contactez votre Team</h1>
        <div class="pers">
    
          <div class="pe">
            <img src="" alt="">
            <div class="p-name">Chiheb Mezrigui</div>
            <div class="p-des">Developpeur JsFullstack</div>
            <div class="p-sm">
              <a href="#"><i class="fab fa-facebook-f"></i></a>
              <a href="#"><i class="fab fa-twitter"></i></a>
              <a href="#"><i class="fab fa-instagram"></i></a>
            </div>
          </div>
    
          <div class="pe">
            <img src="" alt="">
            <div class="p-name">Ahmed dahi</div>
            <div class="p-des">Designer</div>
            <div class="p-sm">
              <a href="#"><i class="fab fa-facebook-f"></i></a>
              <a href="#"><i class="fab fa-twitter"></i></a>
              <a href="#"><i class="fab fa-instagram"></i></a>
            </div>
          </div>
    
          <div class="pe">
            <img src="" alt="">
            <div class="p-name">Tarek Totou</div>
            <div class="p-des">Testeur</div>
            <div class="p-sm">
              <a href="#"><i class="fab fa-facebook-f"></i></a>
              <a href="#"><i class="fab fa-twitter"></i></a>
              <a href="#"><i class="fab fa-instagram"></i></a>
            </div>
          </div>
    
        </div>
    
      </div>
    </div>
    <br>
    <br>
    
    <footer>
    <app-about></app-about>
    </footer>
    </body>
    